# Python / Backend Kuralları
venv/
__pycache__/
*.pyc
.env

# Veri Dosyaları 
# backend/veri/*.csv  

# Flutter / Mobil App Kuralları
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/ios/Pods/