PORT=5001
NODE_ENV=development
JWT_SECRET=supersecuresecret12345
JWT_EXPIRES_IN=7d

# CSV Data Paths
DEMAND_POINTS_CSV_PATH=src/analytics/veri/demand_points.csv
ATM_CANDIDATES_CSV_PATH=src/analytics/veri/atm_candidates.csv
USERS_CSV_PATH=src/analytics/veri/users.csv
SECILEN_ATMLER_CSV_PATH=src/analytics/veri/secilen_kesin_atmler.csv
DATABASE_URL=postgresql://neondb_owner:npg_WZM0CajyLBN5@ep-cold-shadow-anc8l94f-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
